/* Links
source: https://codepen.io/chriddyp/pen/bWLwgP.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #1EAEDB; 
	text-decoration: underline;
	cursor: pointer;}
a:hover {
	color: #0FA0CE; }
